@charset "UTF-8";
/* ▼Countdown Timer▼ */
/*------------------------------------*\
    $全域設定
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: bottom;
  display: block;
  max-width: 900px;
  width: 100%;
  height: auto;
}

section {
  position: relative;
  display: block;
  max-width: 1920px;
}

/*------------------------------------*\
    $main
\*------------------------------------*/
.content {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
}

.bg01 {
  background: url("../img/b1.jpg") top center no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.bg02 {
  background: url("../img/b2.jpg") top center no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.btn {
  position: absolute;
}

.off01 {
  background: url("../img/off01.jpg") top center no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.off01 .btn {
  width: 85%;
  bottom: 4%;
  left: 7.3%;
}

.info {
  background: url("../img/info.jpg") top center no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/*------------------------------------*\
    匯入機能
\*------------------------------------*/
.countdown {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #c00000;
  background-size: cover;
  padding: 10px 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
  display: none;
}

.countdown_content {
  max-width: 900px;
  margin: 0 auto;
  font-family: 微軟正黑體, Meiryo, sans-serif, "Noto Sans TC";
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px #410412;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

#demo {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .countdown {
    padding: 3% 0;
  }
  .countdown_content {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 600px) {
  .countdown_content {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

/* ▲Countdown Timer▲ */
/* 英文版文字設定*/
.to_e .countdown_content {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .to_e .countdown {
    padding: 3% 0;
  }
  .to_e .countdown_content {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 600px) {
  .to_e .countdown_content {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

/* 下面為個別設定*/
/* cta開始 */
.fixed-obj {
  position: fixed;
  top: -380px;
  right: 0;
  max-width: 270px;
  width: 100%;
  z-index: 999;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}

.fixed-obj.show_sta {
  top: 105px;
}

/* 此行代表手機版的圖片隱藏 */
.fixed-obj img:nth-child(2) {
  display: none !important;
}

@media screen and (max-width: 745px) {
  .fixed-obj {
    top: auto;
    bottom: -360px;
    width: 100%;
    max-width: 100%;
    -webkit-transition: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;
  }
  /* 此行代表手機版的圖片顯示 */
  .fixed-obj img:nth-child(2) {
    display: block !important;
    width: 100%;
    margin: 0 auto;
  }
  /* 此行代表電腦版的圖片隱藏 */
  .fixed-obj img:nth-child(1) {
    display: none !important;
  }
  .fixed-obj.show_sta {
    top: auto;
    bottom: 0;
  }
}

/* cta 結束 */
.w-900 {
  max-width: 900px;
}
/*# sourceMappingURL=style.css.map */